<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <hr>
            <ul>
                <!-- Looping through objects -->
                <li v-for="person in persons">
                    <!-- {{person.name}} -->
                    <!-- Give us each value inside our objects -->
                    <span v-for="value, key, index in person">
                       {{key}}: {{value}} {{index}} is my index value.
                    </span>
                </li>
            </ul>
            <!-- This is really epic -->
            <li v-for="ingrediant in ingrediants">{{ingrediant}}</li>
            <li>{{ingrediants[0]}}</li>
            <li v-for="ingrediant, i in ingrediants">{{i}} {{ingrediants}}</li>

            <template v-for="ingrediant, index in ingrediants">
                <h1>{{index}}</h1>
                <p>{{ingrediant}}</p>
            </template>
        </ul>
    </div>
    <script src="scripts.js"></script>
</body>
</html>