.demo {
    width: 100px;
    height:100px;
    background-color: gray;
    display: inline-block;
    margin: 0px;
}
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}